VOLC_ENGINE_API_KEY=
VOLC_ENGINE_VISION_MODEL=doubao-seed-1-6-vision-250815
VOLC_ENGINE_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
FEISHU_WEBHOOK_URL=
STORE_VISION_DATABASE=./data/store_vision.sqlite3
STORE_VISION_DATA_DIR=./data
STORE_VISION_FRAME_RATE=1
STORE_VISION_E1_OPEN_SECONDS=30
STORE_VISION_PUBLIC_BASE_URL=http://127.0.0.1:5173
